.settings-page {
  &__heading {
    margin-bottom: 16px;

    color: var(--text-secondary-color);
  }

  &__section:not(:last-child) {
    margin-bottom: 32px;
  }

  &__widget:not(:last-child) {
    margin-bottom: 32px;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 24px 0;

    border: none;
    background-color: var(--divider-color);
  }
}

.switch-setting {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    color: var(--text-tertiary-color);
  }

  &__paragraph {
    margin-top: 4px;

    color: var(--text-primary-color);
  }
}

@media screen and (max-width: 320px) {
  .settings-page {
    &__heading {
      margin-bottom: 8px;
    }
  
    &__widget:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}