.switch-button {
  position: relative;

  display: inline-block;
  padding: 0;
  margin: 0;

  border: none;
  outline: none;
  background-color: transparent;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    opacity: 0;

    &:checked ~ .switch-button__thumb {
      transform: translate(20px, -50%);
    }

    &:checked ~ .switch-button__track {
      background-color: var(--switch-active-bg);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__track {
    display: block;
    width: 40px;
    height: 20px;

    border-radius: 10px;
    background-color: var(--switch-bg);

    transition: background-color 0.3s ease;
  }

  &__thumb {
    position: absolute;
    top: 50%;
    left: 3px;

    display: block;
    width: calc(50% - 6px);
    height: calc(100% - 6px);

    border-radius: 50%;
    background-color: var(--button-text-color);

    transition: transform 0.3s ease;

    transform: translate(0, -50%);
  }
}