.grid-container {
  display: grid;
  grid-gap: 18px 25px;
  grid-template-columns: 1fr 34%; /* 442px */
  max-width: 1500px;
} 

@media screen and (max-width: 1536px) {
  .grid-container {
    grid-template-columns: 1fr 442px;
  }
}

@media screen and (max-width: 1210px) {
  .grid-container {
    max-width: 840px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    max-width: none;
  }
}